# Last.fm API app credentials (from https://www.last.fm/api/account/create)
LASTFM_API_KEY=
LASTFM_API_SECRET=

# Discogs personal access token (from https://www.discogs.com/settings/developers)
DISCOGS_TOKEN=
DISCOGS_USERNAME=
